[Unit]
Description     = eth2 beacon chain service
Wants           = network-online.target
After           = network-online.target

[Service]
User            = etherum
WorkingDirectory= /home/etherum/lighthouse
ExecStart       = /home/etherum/lighthouse/lighthouse bn --testnet-dir /home/etherum/testnet --datadir /home/etherum/data-lh --staking --metrics --execution-endpoint http://127.0.0.1:8551 --execution-jwt="/home/etherum/jwtsecret" --boot-nodes "enr:-Jq4QEXPZ_XIDSBVyK-Q4dYvdgMMsocNyzKDrzWygHmbuttqJ7a7Fm1gIRDFCnQwmGBxdjnp66H4IRbMM3wzSMjOhAUBhGV0aDKQv0kILzAAEAL__________4JpZIJ2NIJpcISI8x4MiXNlY3AyNTZrMaEDGQcSErzoAEzroOx3prBADcqZk0uzfFClvwkwLg6dSo6DdWRwgiMp,enr:-L24QMbsd6cwIp5dMoZqa2MI6sDOcLALBkVG7R1Pb1iJXsjlD-4nR77bOgMwRdatPBrnjHz5Zf0mqDhDIwfMD5gKyUWBzIdhdHRuZXRziAAAAAAAAAAAhGV0aDKQrkisdjAAEAH__________4JpZIJ2NIJpcISHtYyoiXNlY3AyNTZrMaEDN0LV1k8O_qofxiVh5rumGIY-0_z3Mq-Xh8lLdwwEb42Ic3luY25ldHMAg3RjcIIjUIN1ZHCCI1A"
Restart         = on-failure

[Install]
WantedBy= multi-user.target