[Unit]
Description     = erigon eth1 service
Wants           = network-online.target
After           = network-online.target

[Service]
User            = etherum
WorkingDirectory= /home/etherum/erigon
EnvironmentFile = /home/etherum/testnet/nodevars_env.txt
ExecStart       = /home/etherum/erigon/erigon --datadir /home/etherum/data-erigon --port 30304 --http --http.port 9545 --authrpc.jwtsecret=/home/etherum/jwtsecret  --private.api.addr 127.0.0.1:9091 --authrpc.port 8661 --bootnodes "${BOOTNODE_ENODE_LIST}" --networkid ${CHAIN_ID}
Restart         = on-failure

[Install]
WantedBy= multi-user.target
