[Unit]
Description     = geth eth1 service
Wants           = network-online.target
After           = network-online.target

[Service]
User            = etherum
WorkingDirectory= /home/etherum/geth
ExecStart       = /home/etherum/geth/bin/geth --datadir /home/etherum/data-geth --port 30303 --authrpc.jwtsecret=/home/etherum/jwtsecret --syncmode=full --bootnodes "enode://ac99b39273b2984f6abf263da74877e3024fda9188e50c8159a0e8ea1825a4f3afbf6dbda37ce28037dc805928e31cdf69a21638a2f31bf886f600c7bf03f93c@135.181.140.168:30343"
Restart         = on-failure

[Install]
WantedBy= multi-user.target