[Unit]
Description     = geth eth1 service
Wants           = network-online.target
After           = network-online.target

[Service]
User            = ethereum
WorkingDirectory= /home/ethereum/geth
EnvironmentFile = /home/ethereum/testnet/nodevars_env.txt
ExecStart       = /home/ethereum/geth/bin/geth --datadir /home/ethereum/data-geth --port 30303 --authrpc.jwtsecret=/home/ethereum/jwtsecret --syncmode=full --bootnodes "${BOOTNODE_ENODE_LIST}" --networkid ${CHAIN_ID}
Restart         = on-failure

[Install]
WantedBy= multi-user.target